<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crocoteka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crocoteka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crocoteka.Properties.Settings>
            <setting name="DbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Crocoteka\Crocoteka.litedb</value>
            </setting>
            <setting name="DebugDbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Crocoteka\CrocotekaDebug.litedb</value>
            </setting>
            <setting name="AudioExtensions" serializeAs="String">
                <value>.m4b;.mp3</value>
            </setting>
            <setting name="TextExtensions" serializeAs="String">
                <value>.epub;.fb2;.fb3;.pdf;.txt</value>
            </setting>
            <setting name="NavPanelAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookInfoAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotInLibraryChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveInfoWindowsLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthorInfoWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AuthorInfoWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookInfoWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BookInfoWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CycleInfoWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CycleInfoWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveFindFilesWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindFilesWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FindFilesWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveNotInLibraryState" serializeAs="String">
                <value>False</value>
            </setting>
        </Crocoteka.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Crocoteka.Properties.Settings>
            <setting name="PresetAudioExtensions" serializeAs="String">
                <value>.m4b;.mp3</value>
            </setting>
            <setting name="PresetTextExtensions" serializeAs="String">
                <value>.epub;.fb2;.fb3;.pdf;.txt</value>
            </setting>
            <setting name="PresetNavPanelAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresetBookListAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetBookInfoAuthorFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveMainWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveInfoWindowsLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveFindFilesWindowLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetNotInLibraryChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetSaveNotInLibraryState" serializeAs="String">
                <value>False</value>
            </setting>
        </Crocoteka.Properties.Settings>
    </applicationSettings>
</configuration>