<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crocoteka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crocoteka.Properties.Settings>
            <setting name="DbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Крокотека\Crocoteka.db</value>
            </setting>
            <setting name="DebugDbName" serializeAs="String">
                <value>C:\Databases\LiteDB\Крокотека\CrocotekaDebug.db</value>
            </setting>
            <setting name="NavAuthorFullName" serializeAs="String">
                <value>True</value>
            </setting>
        </Crocoteka.Properties.Settings>
    </userSettings>
</configuration>